
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: rgb(27, 42, 105);
  text-align: center;
}
h2 {
  color: rgb(53, 136, 243);
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: 5px;
  background-color: rgb(8, 16, 48);
  margin-top: 50px;
  padding: 20px;
  border-radius: 5px;
}

p {
  color: white;
  text-align: justify;
  font-size: 15px;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li, .subscription-title {
  color: rgb(207, 204, 204);
  margin-bottom: 6px;
}

.footer-container  {
  padding: 5px;
}

#news-container {
  display: flex;
  flex-flow: column wrap;
  padding: 15px;
  gap: 13px;
}

.news {
  text-align: top;
  margin-bottom: px;
}
.subscription-title {
  width: 270px;
}

#email {
  background-color: rgb(8, 16, 48);
  border: 2px solid rgb(207, 204, 204);
  border-radius: 5px;
  padding: 10px;
  color: white;
}

#email::placeholder {
  color: white;
}

#button {
  background-color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 4px;
}
#button:active {
  background-color: rgb(8, 16, 48);
  color: white;
  transition: 0.2s;
}